/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Sombre comme Netflix */
    color: white;
}

header {
    background-color: #000;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.cta-button {
    background-color: #FF5C8D; /* Couleur vive */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #FF2A6A; /* Couleur différente au survol */
}

.content {
    padding: 40px 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #1C1C1C;
    width: 250px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Légère animation au survol */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}
